$black: #000;
$inputBg: #28221c;
$white: #fff;
$mainColor: #d4c4b4;
$brown: rgba(218,168,104,1);

// animation
$easeFive: all 0.5s ease;

$gmLight: 'GmarketSansLight';
$footerFont: 16px;
$headerMargin: 100px;

// responsive break point
$minIphone: 320px;
$maxIphone: 767px;
$minTablet: 768px;
$maxTablet: 1024px;
$minNote: 1280px;
$maxNote: 1440px;
